{{<base}}
  {{$body}}
    <div id="action-panel-top"
         class="action-panel action-panel-top"
         data-way-template="produtos/CDAction.mustache"></div>
  
    <div id="cd-vcard"
         data-way-template="produtos/CDVCard.mustache"></div>
    <div id="cd-panel"
         class="panel-mega"
         data-way-template="produtos/CDPanel.mustache"></div>
  {{/body}}
{{/base}}