<div class="wrapper">
  <ul class="crumbs">
    <li>
      <a href="{{bricks.baseUrl}}">Loja</a>
    </li>
    <li class="divider">&#8226;</li>
    <li>
      <a href="{{bricks.baseUrl}}/produto">Produtos</a>
    </li>
    <li class="divider">&#8226;</li>
    <li>
      <a href="{{bricks.baseUrl}}/produto/livro">Livros</a>
    </li>
  </ul>
  <ul class="actions">
    <li>
      <a href="#hd" 
         class="btn action">Topo</a>
    </li>
    <li>
      <a href="#livro-vcard" 
         class="btn action">Livros</a>
    </li>
  </ul>
</div>